<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Carrie.challengersproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".src.login.KakaoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".src.login.resetpasswordActivity" />
        <activity android:name=".src.login.findemailActivity" /> <!-- 페이스북 메타 데이터 -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_key" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".src.register.RegisterActivity" />
        <activity android:name=".src.login.LoginActivity" />
        <activity android:name=".src.main.a_MainActivity" />
        <activity android:name=".src.main.b_MainActivity" />
        <activity android:name=".src.splash.splashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>